<div class="cards" style="padding: 0">
  <div class="row">
    <div class="col-12">
    	<div class="card-product w-100 h-100" style="margin: 0">
        <%= cl_image_tag provider.photos.first.key, class: "card-img-index" %>
          <div class="card-product-infos" style="padding: 0; margin-left: 5px">
            <h2><%= provider.name %></h2>
              <p class="description" style="margin: 0"><%= provider.description %></p>
              <% provider.rating.times do %>
              	<i class="fas fa-star"></i>
              <% end %>
              <p class="price" style="margin: 0">Precio promedio: HARDCODED</p>
              	<div class="d-flex justify-content-between mx-2">
                <% if params["action"] == "index" %>
            			<%= link_to "Más Info", provider_path(provider)%>
                <% end %>
              	</div>
          </div>
      </div>
    </div>
  </div>
</div>