<h3>Nueva solicitud de alta</h3>

<p>Nombre del proveedor: <%= @name %></p>

<p>Categoría del proveedor: <%= @category %></p>

<p>Dirección del proveedor: <%= @address %></p>

<p>Descripción del proveedor: <%= @description %></p>

<p>¡Saludos!</p>

<p>Turna team.</p>