.resumen {
  background-color: #C4C4C4;
  height: 200px;
  border-radius: 10px;
}

.subtitle {
  color: #848484
}

.options{
  display:inline-block;
  font-size: 30px;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: bottom;
}
