<nav id="search-navbar" class="navbar fixed-top navbar-light bg-light m-0 d-flex">
  <div class="bg-light p-0">
    <div id="search-form">
      <%= form_with local: true, url: providers_path, method: :get do |f| %>
        <div class="row align-items-center m-0 d-flex">
          <div class="mb-2 ml-0 col-7 col-sm-12 col-md-6 p-0">
            <%=f.text_field :localidad, as: :string, required: true, placeholder:"Ubicación", id: "provider_address", style: "font-size: 15px" %>
          </div>
          <div class="mb-2 col-3 col-sm-12 col-md-6 p-0">
            <%= f.select :categoria, [["Barberia", "Barberia"], ["Dentista", "Dentista"]], required: true, prompt: 'Servicio', style: "font-size: 12px!important" %>
          </div>
          <div class="mb-2 col-2 col-md-2">
            <%= f.button class: "btn btn-primary rounded-circle", style: "width:40px;height:40px;", type: 'submit' do %>
              <i class='fas fa-search' ></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
