<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <strong><h1 id="title" class="m-3">¿Quiénes somos?</h1></strong>

      <div class="integrante" style="display: flex;">
        <div class="img">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF2zYMe2o2Dlg/profile-displayphoto-shrink_800_800/0/1608524544490?e=1619049600&v=beta&t=5_Y75aCUHOfby_jG2HMDv_CfuDRYZenUILlwhsqllXo" alt="Joaco" width="75" height="75" style="border-radius: 50%;">
        </div>
        <div class="content ml-2" style="flex-grow: 1">
          <h3 style="margin-bottom: 0">CEO</h3>
          <p style="margin-bottom: 0">Joaquín Casanova</p>
          <a href="https://www.linkedin.com/in/joaquin-casanova-167347101/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/Joacocasanova" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>      
      </div>

      <hr>

      <div class="integrante" style="display: flex;">
        <div class="img">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGdFmMtA_AFEQ/profile-displayphoto-shrink_800_800/0/1585506828516?e=1619049600&v=beta&t=78L4NCj3xoql2fWN-Y5CNbHYDCC5_deZo6GGDzz6pIE" alt="Ro" width="75" height="75" style="border-radius: 50%;">
        </div>
        <div class="content ml-2" style="flex-grow: 1">
          <h3 style="margin-bottom: 0">CFO</h3>
          <p style="margin-bottom: 0">Rocio Picaza</p>
          <a href="https://www.linkedin.com/in/rocio-belen-picaza-a5996833/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/ropicaza" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>      
      </div>

      <hr>

      <div class="integrante" style="display: flex;">
        <div class="img">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFSPuxa6ibV-A/profile-displayphoto-shrink_800_800/0/1576292896774?e=1619049600&v=beta&t=nArAn2d7rZw1RPlt4S9Q6fuk5TiTfMfjDyjRyU_tGTs" alt="Tom" width="75" height="75" style="border-radius: 50%;">
        </div>
        <div class="content ml-2" style="flex-grow: 1">
          <h3 style="margin-bottom: 0">Recepcionista</h3>
          <p style="margin-bottom: 0">Tomás Agnese</p>
          <a href="https://www.linkedin.com/in/tomasagnese/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/tomag1985" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

