<div class="container-introduction vh-100 align-center">
  <div class="introduction-text w-40 d-flex flex-column">
    <img class="logo-introduction" src="https://res.cloudinary.com/divzp8hs4/image/upload/v1615419298/Turna/Logo_TurnaOK.png" alt="Logo Turna" width=100px>
    <p class="text-introduction my-2">Hacemos tu vida más fácil.</p>
    <div class="my-5">
      <%= link_to "Comenzar", home_path, class: "intro-btn btn btn-lg btn-primary mt-2" %>
    </div>
  </div>
</div>