<div class="container-introduction vh-100 align-center">
  <div class="introduction-text w-40 d-flex flex-column">
    <img class="logo-introduction" src="https://res.cloudinary.com/divzp8hs4/image/upload/v1613239833/Turna/Logo_Turna_Full_tgoyaw.png" alt="Logo Turna" width=100px>
    <p class="text-introduction my-2">Hacemos tu vida más fácil.</p>
    <div class="my-5">
      <%= link_to "Comenzar", root_path, class: "intro-btn btn btn-lg btn-primary mt-2" %>
    </div>
  </div>
</div>
<%# 

<img class="body-background" src="https://res.cloudinary.com/divzp8hs4/image/upload/v1613231191/Turna/turna-background.png" alt="turna background" width=375px>
  <div class="container">
    <img class="logo-introduction" src="https://res.cloudinary.com/divzp8hs4/image/upload/v1613229854/Turna/LOGO_full_wetwod.png" alt="Logo Turna" width=100px>
  </div> %>