.btn-primary {
  background-color: $turna !important;
  border-radius: 20px;
}

.btn-secondary {
  background-color: $secondary !important;
  color: #000000 !important;
}

.intro-btn {
  margin-top: 20px;
  border-radius: 3px;
  background-color: $turna;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 15px;
}


@media (min-width: 1200px) {
  .intro-btn {
    margin-top: 30px;
    border-radius: 3px;
    background-color: $turna;
    color: white;
    padding: 10px;
    width: 100%;
    font-family: 30px;
  }
}

#filters {
  font-size: 13px;
}

@media (min-width: 1200px) {
  #filters {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .nav-pills {
    justify-content: center;
    margin-bottom: 5px;
  }
  #title {
    text-align: center;
  }
}
