.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  color: #FE6929;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-left: 16px;
}

.fa-star {
  color: #FE6929;
}

.disponible {
  color: #2D2BA6;
}

.price {
  color: #000000;
  font-size: 13px;
}

.description {
  color: #7D7987;
}

.cards {
  padding-bottom: 10px;
  a:hover {
    text-decoration: none;
  }
}


.review-card {
  background-color: #F9F9FB;
  margin-bottom: 20px;
  color: #686868;
  padding: 10px;
  border-radius: 10px;
}

.review-card .title {
  color: #000000;
}

.carousel-img {
  width: 100%;
  height: 200px;
}

.desktop-img {
  height: 10rem;
}

.card-img-index {
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  width: 160px;
}

.mapboxgl-popup-content {
  width: 350px;
}