.user-form {
  padding: 50px;
}

.form-review {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

@media (min-width: 1200px) {
  #title {
    text-align: center;
    margin-bottom: 20px;
  }
}

#categoria {
   width: 100%;
   position: relative; 
   vertical-align: top;
   border: grey;
   padding-right: 35px;
   padding-left: 16px;
   line-height: 40px;
   height: 40px;
   border: 1px solid #CCC;
   border-radius: 3px;
   outline: none;
   appearance: none;
   box-sizing: border-box;
   color: grey;
}

#search-form {
  align-items: center;
}

 @media (min-width: 1200px) {
   #search-form {
     width: 100%;
   }
}