.user-form {
  padding: 50px;
}

.form-review {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

@media (min-width: 1200px) {
  #title {
    text-align: left;
    margin-bottom: 20px;
  }
}