.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#bottom-navbar {
  i {
    color: $turna;
    font-size: 30px;
  }
  justify-content: space-between !important;
}

a:hover {
  text-decoration: none;
}

#bottom-navbar {
  .icons {
    text-align: center;
    color: grey;
  }
  justify-content: space-between !important;
  padding-bottom: 0;
  transition: bottom 0.5s;
  border-top-style: solid;
  border-width: thin;
  border-top-color: grey;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


#top-navbar {
  justify-content: space-between !important;
}

#search-navbar {
  text-align: center;
}

@media (min-width: 1200px) {
  #search-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.navbar {
  flex-wrap: nowrap !important;
}