.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#bottom-navbar {
  i {
    color: $turna;
    font-size: 30px;
  }
  justify-content: space-between !important;
}

#bottom-navbar {
  .icons {
    text-align: center;
    color: grey;
  }
  justify-content: space-between !important;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
