@import "components/index";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "jquery-bar-rating/dist/themes/css-stars";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "pages/index";
@import "pages/show";
@import "pages/introduction";

#categoria {
  width: 100%;
  position: relative;
  vertical-align: top;
  border: grey;
  padding-right: 35px;
  padding-left: 16px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  appearance: none;
  box-sizing: border-box;
  color: grey;
}