// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "jquery-bar-rating/dist/themes/css-stars";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "pages/index";
@import "pages/show";
@import "pages/introduction";
@import "components/index";

