<div class="container mt-5">
  <strong><h1 id="title" class="mt-5 pt-2">Tus turnos!</h1></strong>
	<%= simple_form_for [ @booking, @review ] do |f| %>
		<%= f.input :rating, :collection => 1..5 %>
		<%= f.input :content %>
		<%= f.submit "Envia tu opinión!", class: "btn btn-primary" %>
	<% end %>
</div>
